{% extends 'profile/base.html' %}
{% load static %}
{% block body %} 
{% include "partials/_messages.html" %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<div class="container-fluid text-light">
          <div class="card" style= "background:#191919">
            <div class="card-header">
              <div class="row align-items-center"><div class="col-8"><h3 class="mb-0">Add New Address</h3></div></div></div>
            <div class="card-body">
                <form method="POST" action="{% url 'shipping_details' %}">
                {% csrf_token %}
                <div class="row mt-2 mb-3">
                    <div class="col-md-5">
                        <h6 class="heading-small text-muted ">Home Address</h6></div>
                    </div>
                <div class="pl-lg-4">
                              
                  <div class="row mt-2">
                      
                    <div class="col-lg-6"><div class="form-group"><label class="form-control-label">Flat No</label>
                        <input type="text" value="" name="flat_no" class="form-control bg-dark text-light"></div></div>
                      
                    <div class="col-lg-6"><div class="form-group"><label class="form-control-label">Building No</label>
                        <input type="text" value="" name="building_no" class="form-control bg-dark text-light"></div></div>
                        
                  </div>
                </div>
              <hr/>
              <div class="mt-6">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-5">
                        <h6 class="heading-small text-muted ">Locality Address</h6></div><br>
                                                                
                    <div class="col-lg-12"><div class="form-group"><label class="form-control-label">Area</label>
                        <input type="text" value="" name="area" class="form-control bg-dark text-light"></div></div>
                      
                    <div class="col-lg-12"><div class="form-group"><label class="form-control-label">City</label>
                        <input type="text" value="" name="city" class="form-control bg-dark text-light"></div></div>  
                      
                    <div class="col-lg-12"><div class="form-group"><label class="form-control-label">State</label>
                        <input type="text" value="" name="state" class="form-control bg-dark text-light"></div></div>
                      
                    <div class="col-lg-12"><div class="form-group"><label class="form-control-label">Country</label>
                        <input type="text" value="" name="country" class="form-control bg-dark text-light"></div></div>
                      
                    <div class="col-lg-12"><div class="form-group"><label class="form-control-label">Zip Code</label>
                        <input type="text" value="" name="zip_code" class="form-control bg-dark text-light" maxlength="6"></div></div>
                            <br>
                     <div class="d-grid gap-2">       
                   <button type="submit" class="text-right btn btn-sm btn-primary"><strong>Add</strong></button>
                            </div></div>
                        </div></div>
                
                    </form> 
                </div>
              
        </div></div>
		
		{% endblock %}