{% extends 'Home/base.html' %}
{% block content %}

<div class="jumbotron">

  <h1>Login</h1>
  <form action="{% url 'Home:user_login' %}" method="POST">
    {% csrf_token %}
    <h3>{{ error }}</h3>
    <br>
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="username">

    <label for="password">Password: </label>
    <input type="password" name="password">

    <input type="submit" name="" value="Login">

  </form>

</div>

{% endblock %}
