<div class="form">
    <div class="list-group">   
    <span class="border border-1 border-dark rounded">
        
        <a href="{% url 'profile_details' %}" class="list-group-item list-group-item-action list-group-item-light">Profile Details</a>
        
        <a href="{% url 'billing_details' %}" class="list-group-item list-group-item-action list-group-item-light">Billing Details</a>
        
        <a href="{% url 'shipping_details' %}" class="list-group-item list-group-item-action list-group-item-light">Shipping Details</a>
        
        <a href="{% url 'wishlist' %}" class="list-group-item list-group-item-action list-group-item-light">Wishlist</a>
        
        <a href="{% url 'cart' %}" class="list-group-item list-group-item-action list-group-item-light">Cart</a></span>
    
            </div></div>