{% extends "authapp/base.html" %}
{% load static %}
{% block title_main %}Welcome{% endblock %}
{% block body %}
	<div class="hero">
		<center>
			<h2>Best & Trusted</h2>
			<h2><span>Techo</span> Shop</h2>
			<p>High Performance. Delivered.</p>
		</center>
	</div>
	<div class="hero col align-items-center">
		<img src="https://res.cloudinary.com/ecommercebart/image/upload/v1617380035/v1/register_alh0jp.svg" alt="register svg" width="300px" height="250px" />
		<div style="float: left;">
			<div class="form"> 
				<h3>For New Users</h3>
				<h3>Please Register Here</h3>
				<a href="{% url 'register' %}" class="btn btn-block">Register</a>
			</div>
		</div>
		<div style="float: right;">
			<div class="form">
				<h3>For Old Users</h3>
				<h3>Please Login Here</h3>
				<a href="{% url 'login' %}" class="btn btn-block" >Login</a>
			</div>
		</div>
		<img src="https://res.cloudinary.com/ecommercebart/image/upload/v1617379962/v1/login_xp4j3y.svg" alt="login svg" width="300px" height="250px" />
	</div>
{% endblock  %}