{% extends "authapp/base.html" %}
{% load static %}
{% block title_main %}Register{% endblock %}
{% block content %}
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    {% include "partials/_messages.html" %}
                    Logged in
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}