{% include "partials/_messages.html" %}
<form method="GET">
  <input id="q" name="q" type="text" placeholder="Search..." ></input>
</form>
{% if json %}
  <h1>Found {{ count }} products</h1>
  {% for product in products %}
    Name: {{ product.name }}
    Category: {{ product.category.category_name }}
    Company: {{ product.company.company_name }}
    Desc: {{ product.description }}
    <img src={{product.thumbnail}}></img>
    <a href = "/product/{{ product.slug }}">Link To Product</a>
  {% endfor %}
{% else %}
  {% for product in products %}
    Name: {{product.name}}
    Category: {{product.category.category_name}}
    Company: {{product.company.company_name}}
    Desc: {{product.description}}
    <img src={{ product.thumbnail.url }}></img>
    <a href={{product.get_absolute_url}}>Link To Product</a>
  {% endfor %}
{% endif %}