<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="cart.css" rel="stylesheet">
{% extends 'product/base.html' %}
{% load static %}
{% block body %}  
{% include "partials/_messages.html" %}
<div id = "wave"> 
    <div class="px-4 px-lg-0">
    <div class="container text-white py-5 text-center">
      <h1 class="display-4">Shopping Cart</h1>
    </div> 
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
  
            <!-- Shopping cart table -->
            <div class="table-responsive">
              <a class='btn btn-dark rounded-pill py-2 btn-block' href="{% url 'all_products' %}">&#x2190;   Continue Shopping</a>
                <br>
                <br>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="border-0 bg-light">
                      <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Quantity</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Total</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in orderitems %}
                  <tr>
                    <th scope="row" class="border-0">
                      <div class="p-2">
                        <img src="https://www.zotac.com/download/files/styles/w1024/public/product_gallery/graphics_cards/zt-a30800d-10p-image01_0.jpg?itok=YKGgElPU" alt="" width="70" class="img-fluid rounded shadow-sm">
                        <div class="ml-3 d-inline-block align-middle">
                          <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">{{ item.product.name }}</a></h5><span class="text-muted font-weight-normal font-italic d-block">Category: Graphics Card</span>
                        </div>
                      </div>
                    </th>
                    <td class="border-0 align-middle"><strong>₹{{ item.product.price }}</strong></td>
                    <td class="border-0 align-middle">
                      <div style="flex:1" class="update-quantity">
                        <button style="border:none; background-color: inherit; flex: 0;" data-product="{{ item.product.id }}" data-action="add" class="update-cart">
                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11">
                                <g id="Group_1" data-name="Group 1" transform="translate(-354 -226)">
                                  <line id="Line_1" data-name="Line 1" x2="10" transform="translate(354.5 231.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="1"/>
                                  <line id="Line_2" data-name="Line 2" x2="10" transform="translate(359.5 226.5) rotate(90)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="1"/>
                                </g>
                            </svg>
                        </button>
                        <p style="flex: 0;">&nbsp;&nbsp;{{ item.quantity }}&nbsp;&nbsp;</p>
                        <button style="border:none; background-color: inherit; flex: 0;" data-product="{{ item.product.id }}" data-action="remove" class="update-cart">
                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="1" viewBox="0 0 11 1">
                                <line id="Line_3" data-name="Line 3" x2="10" transform="translate(0.5 0.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="1"/>
                            </svg>
                        </button>
                      </div>
                    </td>
                    <td class="border-0 align-middle"><strong>₹{{ item.get_total }}</strong></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- End -->
          </div>
        </div>
  
        <div class="row py-5 p-4 bg-white rounded shadow-sm">
          {% if not request.user.is_authenticated %}
          <div class="col-lg-6">
            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Log In</div>
            <div class="p-4">
              <label for="inputName" class="font-italic mb-4">Username:</p>
              <div class="input-group mb-4 border rounded-pill p-2">
                <input type="username" placeholder="Enter Name" aria-describedby="button-addon3" class="form-control border-0" id = "inputName" required>
              </div>
              <label for = "inputEmail" class="font-italic mb-4">Email address:</p>
              <div class="input-group mb-4 border rounded-pill p-2">
                <input type="email" id = "inputEmail" placeholder="Enter Name" aria-describedby="button-addon3" class="form-control border-0" required>
              </div>
            </div>
            {% endif %}
            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Instructions for seller</div>
            <div class="p-4">
              <p class="font-italic mb-4">If you have some information for the seller you can leave them in the box below</p>
              <textarea name="" cols="30" rows="2" class="form-control"></textarea>
            </div>
          </div>
          <div class="col-lg-6" style = "margin: auto" >
            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
            <div class="p-4">
              <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
              <ul class="list-unstyled mb-4">
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>₹{{ order.get_cart_total }}</strong></li>
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping and handling</strong><strong>$10.00</strong></li>
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>$0.00</strong></li>
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                  <h5 class="font-weight-bold">$400.00</h5>
                </li>
              </ul><a id = "checkout" href="{% url 'checkout' %}" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
</div>
<script>
  var email = document.getElementById("inputEmail").value;
  var username = document.getElementById("inputName").value;
  
  document.getElementById('checkout').addEventListener('click', function(e){
      userFormData()
  })
  
  function userFormData(){

      userInfo = {
          'username':username,
          'email':email,
      }

  var url = '/cart/checkout.html/'

  fetch(url, {
      method:'POST',
      headers:{
          'content-Type':'application/json',
          'X-CSRFToken':csrftoken,
      },
      body:JSON.stringify({'userInfo':userInfo})
  })
  .then((response) => response.json())
  .then((data) => {
      console.log('Success: ', data);
  })

}

</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}