{% extends 'product/base.html' %}
{% load static %}
{% block body %}  
<style>
    .zoom {
      padding: 50px;
      transition: transform .2s; /* Animation */     
      margin: 0 auto;
    }
    
    .zoom:hover {
      transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    </style>
<div class="row justify-content-md-center" style="margin: auto">
<div class="col col-md-5"><br>
<div class="card border-secondary" style="width: 500px; height: 600px;">
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <!-- div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div -->
  <div class="carousel-inner">
    <div class="carousel-item active"><div class="zoom">
        <img class="d-block w-100" src="{{ product.thumbnail.url }}" alt="slide" width="450px" height="450px">
    </div></div>
    {% for image in product.get_all_images %}
        <div class="carousel-item"><div class="zoom">
        <img class="d-block w-100" src="{{ image.images.url }}" alt="slide" width="450px" height="450px">
        </div></div>
    {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div></div><br></div>

    <div class="col col-md-5">
      <br><hr><br>
        <h2>{{product.name}}</h2> <br>
        <h6>Company: <a href="" style="color: rgb(155, 186, 245);">{{product.company.company_name}}</a></h6> <br>
        <p>Description: {{product.description}}</p>
        <h6>Category: <a href="" style="color: rgb(155, 186, 245);">{{product.category.category_name}}</a></h6> <br>
        <hr><br>
        <center><h5> Price: <a style="color: rgb(160, 41, 41);">${{product.price|floatformat:2}}</a> </h5></center>
        <br>
        <div class="row">
          <div class="col"><center>
            <button type="button" class="btn border-3 rounded-pill border-dark" style="background-color: rgb(155, 186, 245);">
          Add to Wishlist
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
            </svg>
         </button></center>
          </div>
          <div class="col"><center>
       <button type="button" class="btn border-3 rounded-pill border-dark" style="background-color: rgb(155, 186, 245);">
        Add to Cart
        <svg data-product="{{ product.id }}" data-action="add" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-fill update-cart" viewBox="0 0 16 16">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
       </button></center></div></div>
    </div>
    </div>
    <hr>
<div class="container">
    <h3>Similar Products</h3></div>
<div class="row" style="margin: auto;">
  {% for product in products %}  
  <div class="col">
    <div class="card border-4 border-dark" style="width: 275px; height: 300px; background-color: #181926;">
      <a href={{product.get_absolute_url}}>
      <img src="{{ product.thumbnail.url }}" class="card-img-top" alt="Product" width="200px" height="200px" style="background-color: white;">
      <div class="card-body">
        <h5 class="card-title">{{product.name | truncatechars:20 }}</h5>
        <center>
        <button type="button" class="btn border-3 rounded-pill border-dark" style="background-color: rgb(155, 186, 245);">
        View More</button>
      </center></div></a>
    </div>  
    </div>
    {% endfor %}
    </div>
    <br>
<style>
h2,h3,h4,h5,h6,hr,p{
  color: #dbf8ff;
  font-family: Arial, sans-serif;
}
</style>

{% endblock %}